h1{
font-size:100px; 
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
stroke-width: 5px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color: black;
color:white;
text-align: center;
background-color:slategray;
border-radius:25px;
}
ul{
background-color: bisque;


}
p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;

}
body{
background-color: antiquewhite;

}
.altfont{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
ol{
font-family: 'Courier New', Courier, monospace;
font-size: 34px;
color:darkgreen;
background-color: cadetblue;
border-radius:25px;
padding-left: 5%;
background-size: 50%;



}